.column {
	display: flex;
	flex-direction: column;
	flex: 1 1 0;
	min-width: 0;
	padding: 40px 24px;
	background-color: var(--color-white);
	border: 1px solid #f6d7d1;
	border-radius: 10px;
}

.header {
	display: flex;
	align-items: center;
	gap: 10px;
}

.title {
	margin: 0;
	color: var(--color-dark);
	font-size: 18px;
	font-weight: 600;
	line-height: 1.2;
}

.cards {
	display: flex;
	flex-direction: column;
	gap: 16px;
	margin-top: 41px;
}

@media (max-width: 1200px) {
	.column {
		width: 100%;
	}
}